<nav class=" h-16 w-full fixed" [class.header_change]="header_variable">
    <div class="w-full mx-auto  sm:px-6  ">
        <div class=" flex items-center  h-16">
            <div class="w-32 ">
                <img class="" src="./assets/images/logo_cv.png" />
            </div>
            <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-3  " style="margin-left: 800px;">
                    
                    <a [routerLink]="['']" routerLinkActive="active"
                        class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-md font-semibold">Acceuil</a>

                    <a [routerLink]="['Cv']" routerLinkActive="active"
                        class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-md font-semibold ">CV</a>

                    <div class="group inline-block ">
                        <button
                            class="rounded-md hover:bg-gray-700 outline-none focus:outline-none text-white w-40  py-2 flex items-center ">
                            <span class="pr-1 font-semibold flex-1"><a [routerLink]="['Annonce']" >Offres d'emploi</a></span>
                        </button>
                    </div>
                    <a [routerLink]="['connexion']" routerLinkActive="active"
                        class="text-white  py-2 rounded-md text-md font-semibold w-6 h-6 " >
                        <img class="" src="./assets/images/user.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--
    <div class="relative text-gray-600">
  <input type="search" name="serch" placeholder="Search" class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">
  <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
    <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
      <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
    </svg>
  </button>
</div>
-->
